@charset "UTF-8";

.oppacity {
    animation: aparecer .3s;
}

.oppacity1 {
    animation: desaparecer 0.3s;
    opacity: 0;
}

#project:hover {
  color: #212121;
}

#customize:hover {
  color: #212121;
}

#plugin:hover {
  color: #212121;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes desaparecer {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}