@charset "UTF-8";

:root {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

.content {
    background-color: #1d1d1d;
    height: 100vh;
    color: white;
}

.top-side {
    color: white;
    display: flex;
    align-items: center;
    height: 80px;
}

.top-side > svg{
    width: 40px;
    height: 40px;
    margin: 0 12px 0 15px;
}

.line {
    background-color: white;
    height: 1px;
    border-radius: 5px;
    width: 100%;
}

.project-lang-side > .lang {
    background-color: #2a2a2c;
    border-radius: 10px;
    width: 95%;
}

.project-lang-side > .lang > h1 {
    display: inline-block;
}

.project-lang-side > .lang > img {
    width: 80px;
    height: 80px;
}