/* Lado Esquerdo */

menu #project {
    background-color: #cecece;
    color: #212121;
}

#customize {
    color: black;
    z-index: 1;
}

menu, menu a {
    z-index: 1;
}

.backAnimate {
    background-color: #cecece;
    width: 209px;
    height: 34.4px;
    position: absolute;
    top: 128px;
    z-index: 0;
    left: 15px;
    border-radius: 5px;
}

/* Lado Direito */

 /* Filtro dos svgs */
 svg > rect {
    filter: drop-shadow(.2px .2px 2px rgba(0, 0, 0, 0.400));
 }
 /* Temas */

 .right-side {
    display: flex;
    flex-direction: column;
    color: white;
 }

 .right-side > h2 {
    margin: 20px 10px 0 25px;
    font-weight: lighter;
 }

 .right-side > .themes > menu {
    display: flex;
    flex-direction: row;
    margin: 15px 0 0 -14px;
 }

 .right-side > .themes > menu > .icons {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #333333;
    border-top: 1px solid #292929;
    border-bottom: 1px solid #292929;
    padding: 15px 35px 0 35px;
 }
 
 .right-side > .themes > menu > .icons:hover {
    cursor: pointer;
 }

 .right-side > .themes > menu > .icons > p {
    padding: 0;
    margin: 10px 0 10px 0;
 }

 .right-side > .themes > menu > .dark {
    background-color: #3c3c3c;
 }

 .right-side > .themes > menu > .icons:first-child {
    border: 1px solid #292929;
    border-radius: 4px 0 0 4px ;
 }

 .right-side > .themes > menu > .icons:last-child {
    border: 1px solid #292929;
    border-radius: 0 4px 4px 0  ;
 }

 /* Idioma */
 .right-side > .language > p > .info-icon {
    font-size: 18px;
    color: #a3a3a3; 
    vertical-align: middle;
 } 
 .right-side > .language > p {
    color: #a3a3a3;
    position: relative;
    top: -46px;
    left: 350px;
    font-size: 17px;
 }
 
  /* Estilos gerais de select e option */
  select{
    display: inline;
    font-size: 16px;
    margin: 10px 0 0 25px;
    padding: 8px 15px 8px 10px;
    width: 59%;
    transition: 0.2s;
  }

  select,
  ::picker(select) {
    appearance: base-select;
    border: 1px solid #292929;
    box-shadow: 1px 1px 2px #292929;
    border-radius: 8px;
  }
 
  select:hover {
    cursor: pointer;
    background-color: #3c3c3c;
  }
 
  select::picker-icon {
    transition: 0.2s rotate;
  }

  select:open::picker-icon {
    rotate: 180deg;
  }

  select > option {
    display: flex;
    justify-content: flex-start;
    gap: 20px;

    border: 2px solid #dddddd;
    background: #f1f1f1;
    padding: 10px;
    transition: 0.4s;
  }

  option:first-of-type {
    border-radius: 8px 8px 0 0;
  }

  option:last-of-type {
    border-radius: 0 0 8px 8px;
  }

  option:not(option:last-of-type) {
    border-bottom: none;
  }

  option:hover {
    cursor: pointer;
    background-color: #cccccc;
  }

  option::checkmark {
    order: 1;
    margin-left: auto;
    content: "•";
  }

  /* Keymap */
  
  .right-side > #mapa {
    margin: -40px 0 0 25px;
  }

  /* "importar configuração" */

  .right-side > a {
    color: #457ec0;
    margin: 10px 0 0 25px;
  }
  
  .right-side > a:focus {
    color: #457ec0;
  }