/* Lado Direito */
.bar {
  top: 123px;
}
#customize {
  color: #212121;
}

 /* Filtro dos svgs */
 svg > rect {
    filter: drop-shadow(.2px .2px 2px rgba(0, 0, 0, 0.400));
 }
 /* Temas */

 .right-side {
    display: flex;
    flex-direction: column;
    color: white;
 }

 .right-side > h2 {
    margin: 20px 10px 0 25px;
    font-weight: lighter;
 }

 .right-side > .themes > menu {
    display: flex;
    flex-direction: row;
    margin: 15px 0 0 -14px;
 }

 .right-side > .themes > menu > .icons {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #333333;
    border-top: 1px solid #292929;
    border-bottom: 1px solid #292929;
    padding: 15px 35px 0 35px;
    transition-duration: .3s;
 }
 
 .right-side > .themes > menu > .icons:hover {
    cursor: pointer;
    transition-duration: .3s;
    scale: 1.04;
    z-index: 999;
 }
 
 .right-side > .themes > menu > .icons.selected {
    animation: pop .3s;
    scale: 1;
 }

 @keyframes pop {
    0% {
      scale: 1.04;
    }
    100% {
      scale: 1;
    }
 }

 .right-side > .themes > menu > .icons > p {
    padding: 0;
    margin: 10px 0 10px 0;
 }

 .right-side > .themes > menu > .icons:first-child {
    border: 1px solid #292929;
    border-radius: 4px 0 0 4px ;
 }

 .right-side > .themes > menu > .icons:nth-child(2) {
    border: 1px solid transparent;
 }

 .right-side > .themes > menu > .icons:nth-child(2):hover {
    border: 1px solid #292929;
 }

 .right-side > .themes > menu > .icons:last-child {
    border: 1px solid #292929;
    border-radius: 0 4px 4px 0  ;
 }

 /* Idioma */
 .right-side > .language > p {
    color: #a3a3a3;
    position: relative;
    top: -46px;
    left: 480px;
    font-size: 17px;
 }
 
  /* Estilos gerais de select e option */
  select{
    display: inline;
    font-size: 16px;
    margin: 10px 0 0 25px;
    padding: 8px 15px 8px 10px;
    width: 59%;
    transition: 0.2s;
  }

  select,
  ::picker(select) {
    appearance: base-select;
    border: 1px solid #292929;
    box-shadow: 1px 1px 2px #292929;
    border-radius: 8px;
  }
 
  select:hover {
    cursor: pointer;
    background-color: #3c3c3c;
  }
 
  select::picker-icon {
    transition: 0.2s rotate;
  }

  select:open::picker-icon {
    rotate: 180deg;
  }

  select > option {
    display: flex;
    justify-content: flex-start;
    gap: 20px;

    border: 2px solid #dddddd;
    background: #f1f1f1;
    padding: 10px;
    transition: 0.4s;
  }

  option:first-of-type {
    border-radius: 8px 8px 0 0;
  }

  option:last-of-type {
    border-radius: 0 0 8px 8px;
  }

  option:not(option:last-of-type) {
    border-bottom: none;
  }

  option:hover {
    cursor: pointer;
    background-color: #cccccc;
  }

  option::checkmark {
    order: 1;
    margin-left: auto;
    content: "•";
  }

  /* Keymap */
  
  .right-side > #mapa {
    margin: -40px 0 0 25px;
  }

  /* "importar configuração" */

  .right-side > a {
    color: #457ec0;
    margin: 10px 0 0 25px;
  }
  
  .right-side > a:focus {
    color: #457ec0;
  }

/* Tema claro */
body.light-theme {
  background: linear-gradient(135deg, #1d1d1d 50%, #f1f1f1 50%);
  color: #212121;
}

body.light-theme .left-side {
  background-color: #e3e3e3;
  color: #2a2a2c;
}

body.light-theme .left-side {
  background-color: #e3e3e3;
  color: #2a2a2c;
}

body.light-theme .bar {
  background-color: #a8a8a8;
}

body.light-theme .right-side {
  background-color: rgba(255,255,255,0.85);
  color: #212121;
}

body.light-theme menu a {
  color: #212121;
}

body.light-theme .right-side > .themes > menu > .icons {
  background-color: #ffffff;
  color: white;
}

/* Tema misto */
body.mixed-theme {
  background: linear-gradient(135deg, #1d1d1d 50%, #f1f1f1 50%);
  color: #212121;
}

body.mixed-theme .right-side > .themes > menu > .icons {
  background-color: #ffffff;
  color: white;
}

body.mixed-theme select:hover {
  color: white;
}

body.mixed-theme .left-side {
  background-color: #212121;
}

body.mixed-theme .right-side {
  background-color: rgba(255,255,255,0.85);
  color: #212121;
}