/* Lado Direito */
.bar {
    top: 162px;
    background-color: #cecece;
}

menu #plugin {
    color: #212121;
}

.right-side {
    display: flex;
    flex-direction: column;
    color: white;
}

/* Ativar/Desativar Plugins */

.actived-plugins {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2a2c;
    margin: 20px 25px 30px 25px;
    padding: 15px 25px 15px 25px;
    border-radius: 7px;
}

.actived-plugins > span {
    display: none;
}

.actived-plugins > p {
    margin: 0 20px 0 0;
}

.plugins-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

.plugins {
    overflow-y: hidden;
}

.plugins-div > .plugin {
    display: flex;
    flex-direction: row;
    background-color: #2a2a2c;
    overflow-y: hidden;
    width: 90%;
    border-radius: 7px;
    align-items: center;
    margin: 0 0 15px 0;
}

.plugins-div > .activeds > img {
    width: 60px;
    height: 60px;
}
.plugins-div > .plugin > .plugin-content  {
    width: 450px;
}

.plugins-div > .plugin > .plugin-content > p {
    margin: 0 20px 20px 20px;
}

.plugins-div > .plugin > .plugin-content > .imgh2 {
    display: flex;
    align-items: center;
    margin: 20px 0 10px 20px;
    gap: 15px;
}

.plugins-div > .plugin > .plugin-content > .imgh2 > h2 {
    font-weight: lighter;
}

.plugins-div > .plugin > .plugin-content > .imgh2 > img {
    width: 60px;
    height: 60px;
}

.checkbox {
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    height: 51px;
    width: 56px;
    border-radius: 6px;
    margin: 0 20px;
}