/* Lado Direito */

.right-side {
    display: flex;
    flex-direction: column;
    color: white;
}

/* Ativar/Desativar Plugins */

.actived-plugins {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2a2c;
    margin: 20px 25px 30px 25px;
    padding: 15px 25px 15px 25px;
    border-radius: 7px;
}

.actived-plugins > p {
    margin: 0 20px 0 0;
}

.plugins-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

.plugins-div > .plugin {
    display: flex;
    flex-direction: column;
    background-color: #2a2a2c;
    width: 90%;
    border-radius: 7px;
    margin: 0 0 15px 0;
}

.plugins-div > .plugin > p {
    margin: 0 20px 20px 20px;
}

.plugins-div > .plugin > .imgh2 {
    display: flex;
    align-items: center;
    margin: 20px 0 10px 20px;
    gap: 15px;
}

.plugins-div > .plugin > .imgh2 > h2 {
    font-weight: lighter;
}

.plugins-div > .plugin > .imgh2 > img {
    width: 60px;
    height: 60px;

}

