@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
}

.container {
  flex: 1;
  display: flex;
}

/* Lado Esquerdo */
.left-side {
  width: 250px;
  flex-direction: column;
  background-color: #2a2a2c;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.logo img {
  width: 44px;
}

.logo p {
  color: #dddddd;
  font-size: 18px;
  font-weight: 500;
}

.bar {
  position: absolute;
  left: 20px;
  background-color: #cecece;
  width: 210px;
  border-radius: 5px;
  height: 34.4px;
  transition-duration: .3s;
}

menu {
  outline: none;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 5px;
  justify-self: left;
  list-style: none;
  width: 100%;
  z-index: 1;
}

menu a {
  text-decoration: none;
  outline: none;
  width: 190px;
  padding: 10px;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-left: -20px;
  font-size: 15px;
  font-weight: 400;
  color: #dddddd;
  border-radius: 5px;
  transition-duration: .3s;
  z-index: 1;
}

menu a:hover {
  scale: 1.04;
}

.right-side {
  outline: none;
  flex: 2.5;
  position: relative;
  background-color: #1d1d1d;
  display: flex;
  color: #dddddd;
  overflow: hidden;
}

